/* .example-container .mat-radio-button {
  margin: 0 12px;
}
    */
    @media only screen and (min-width:320px) and (max-width:1000px) {
      .example-container > * {
          width: 100%;
          padding:15px;
        } 
      }
  
      @media only screen and (min-width:1024px) and (max-width:1950px) {
          .example-container > * {
              width: 58%;
              padding:10px;
            }
            
          }
          
          .mat-button{
            background-color:#009CFF;
          }
         
           
  
  
   
