<app-adminheader></app-adminheader>
  
<br>

<div class="row mt-4 ">
   <div class="d-none d-md-block d-lg-block d-xl-block col-md-3  sidenav">
       <app-adminsidenav></app-adminsidenav>
   </div>
   <div class="col-md-9 col-sm-12 my-2 bg-light">
    <div class="row mt-5">
        <div class="col-md-6 col-lg-3">
            <a class="nav-link" routerLink="/aduser" >
          <div class="widget-small primary coloured-icon">
             
            <i class="icon fa fa-users fa-3x"></i>
            
            <div class="info">
             <h4 routerLink="/aduser">Users</h4>
            <p><b>5</b></p>
            </div>
          </div>
          </a>
        </div>
      
      </div>
</div>
</div>