.navdes
{
    background-color: #F07C49 !important;
    color:#fff;
}
a.nav-link {
    color: #fff;
}
 .btn
   {
    width:83px; 
   }
   .navdes
{
    background-color:#009CFF !important;
    color:#fff;
}
a.nav-link {
    color: #fff;
}
