<div class="container">
  <div class="row mb-4">
    <div class="col text-center">
      <a href="#" class="btn btn-lg btn-primary" data-toggle="modal" data-target="#largeModal">Click to open Modal</a>
    </div>
  </div>
</div>
<div class="modal fade" id="largeModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Skills You Have</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-4 col-12 col-md-4 p-2">
            <mat-accordion>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                   Chartism
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <section>
                  <mat-checkbox>Bensignor TMAP</mat-checkbox><br>
                  <mat-checkbox>De Mark</mat-checkbox><br>
                  <mat-checkbox>Elloitt Mark</mat-checkbox><br>
                  <mat-checkbox>Market Profile</mat-checkbox>
                </section>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
          <div class="col-lg-4 col-12 col-md-4 p-2">
            <mat-accordion>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Country Knowledge
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <section>
                  <mat-checkbox>Algeria</mat-checkbox><br>
                  <mat-checkbox>Australia</mat-checkbox><br>
                  <mat-checkbox>Brazil</mat-checkbox><br>
                  <mat-checkbox>ecuador</mat-checkbox>
                </section>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
          <div class="col-lg-4 col-12 col-md-4 p-2 ">
            <mat-accordion>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Cooking
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <section>
                  <mat-checkbox>Baking</mat-checkbox><br>
                  <mat-checkbox>French Cuisine</mat-checkbox><br>
                  <mat-checkbox>Indian Cuisine</mat-checkbox><br>
                  <mat-checkbox>Italian Cuisine</mat-checkbox><br>
                </section>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </div>
        <div class="modal-footer ">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save</button>
        </div>
      </div>
    </div>
  </div>
</div>