.bb{
  padding: 11px;
}
.btn-primary:hover{
      font-size: 40px;
      font-weight: bold;
   
  }
.conts1{
    margin-left: 2vw;
  }
.constant{
   margin-left: 1vw;
 }
  @media (min-width: 320px) and (max-width: 480px) {
    .constant{
      margin-left: -1vw;
    }
    .btn-primary:hover{
      font-size: 25px;
      font-weight: bold;
  }
  .bb{
    padding: 7px;
  }
  }
  @media (min-width: 760px)  and (max-width: 960px) {
     .constant{
       margin-left: -3vw;
     }
  }
