<div class="row">
  <div class="col-lg-1 col-md-1 col-2 mt-5">
    <div class="bootstrap-demo conts1">
      <div class="btn-group-vertical">
        <button type="button" class="btn btn-primary  p-3">A</button>
        <button type="button" class="btn btn-primary  p-3">B</button>
        <button type="button" class="btn btn-primary  p-3">C</button>
        <button type="button" class="btn btn-primary  p-3">D</button>
        <button type="button" class="btn btn-primary  p-3">E</button>
        <button type="button" class="btn btn-primary  p-3">F</button>
        <button type="button" class="btn btn-primary  p-3">G</button>
        <button type="button" class="btn btn-primary  p-3">H</button>
        <button type="button" class="btn btn-primary  p-3">I</button>
        <button type="button" class="btn btn-primary  p-3">J</button>
        <button type="button" class="btn btn-primary  p-3">K</button>
        <button type="button" class="btn btn-primary  p-3">L</button>
        <button type="button" class="btn btn-primary  p-3">M</button>
      </div>
    </div>
  </div>
  <div class="col-lg-10 col-md-10 col-8">
    <div class="flex-grid-thirds mt-5">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-12 bga">
          <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Chartism
                </mat-panel-title>
              </mat-expansion-panel-header>
              <section>
                <div class="row p-1">
                  <mat-checkbox class="col-lg-7 col-md-7 col-7">Bensignor TMAP</mat-checkbox>
                  <select class="col-lg-5 col-md-5 col-5">
                    <option>Basic</option>
                    <option>Good</option>
                    <option>Expert</option>
                  </select><br>
                </div>
                <div class="row p-1">
                  <mat-checkbox class="col-lg-7 col-md-7 col-7">De Mark</mat-checkbox>
                  <select class="col-lg-5 col-md-5 col-5">
                    <option>Basic</option>
                    <option>Good</option>
                    <option>Expert</option>
                  </select><br>
                </div>
                <div class="row p-1">
                  <mat-checkbox class="col-lg-7 col-md-7 col-7">Elloitt Mark</mat-checkbox>
                  <select class="col-lg-5 col-md-5 col-5">
                    <option>Basic</option>
                    <option>Good</option>
                    <option>Expert</option>
                  </select><br>
                </div>
                <div class="row p-1">
                  <mat-checkbox class="col-lg-7 col-md-7 col-7">Market Profile</mat-checkbox>
                  <select class="col-lg-5 col-md-5 col-5">
                    <option>Basic</option>
                    <option>Good</option>
                    <option>Expert</option>
                  </select><br>
                </div>
              </section>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
        <div class="col-lg-4 col-md-4 col-12 bga">
          <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Country Knowledge
                </mat-panel-title>
              </mat-expansion-panel-header>
              <section>
                <div class="row p-1">
                  <mat-checkbox class="col-lg-7 col-md-7 col-7">Algeria</mat-checkbox>
                  <select class="col-lg-5 col-md-5 col-5">
                    <option>Basic</option>
                    <option>Good</option>
                    <option>Expert</option>
                  </select><br>
                </div>
                <div class="row p-1">
                  <mat-checkbox class="col-lg-7 col-md-7 col-7">Australia</mat-checkbox>
                  <select class="col-lg-5 col-md-5 col-5">
                    <option>Basic</option>
                    <option>Good</option>
                    <option>Expert</option>
                  </select><br>
                </div>
                <div class="row p-1">
                  <mat-checkbox class="col-lg-7 col-md-7 col-7">Brazil</mat-checkbox>
                  <select class="col-lg-5 col-md-5 col-5">
                    <option>Basic</option>
                    <option>Good</option>
                    <option>Expert</option>
                  </select><br>
                </div>
                <div class="row p-1">
                  <mat-checkbox class="col-lg-7 col-md-7 col-7">ecuador</mat-checkbox>
                  <select class="col-lg-5 col-md-5 col-5">
                    <option>Basic</option>
                    <option>Good</option>
                    <option>Expert</option>
                  </select><br>
                </div>
              </section>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
        <div class="col-lg-4 col-md-4 col-12">
          <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Cooking
                </mat-panel-title>
              </mat-expansion-panel-header>
              <section>
                <div class="row p-1">
                  <mat-checkbox class="col-lg-7 col-md-7 col-7">Baking</mat-checkbox>
                  <select class="col-lg-5 col-md-5 col-5">
                    <option>Basic</option>
                    <option>Good</option>
                    <option>Expert</option>
                  </select><br>
                </div>
                <div class="row p-1">
                  <mat-checkbox class="col-lg-7 col-md-7 col-7">French Cuisine</mat-checkbox>
                  <select class="col-lg-5 col-md-5 col-5">
                    <option>Basic</option>
                    <option>Good</option>
                    <option>Expert</option>
                  </select><br>
                </div>
                <div class="row p-1">
                  <mat-checkbox class="col-lg-7 col-md-7 col-7">Indian Cuisine</mat-checkbox>
                  <select class="col-lg-5 col-md-5 col-5">
                    <option>Basic</option>
                    <option>Good</option>
                    <option>Expert</option>
                  </select><br>
                </div>
                <div class="row p-1">
                  <mat-checkbox class="col-lg-7 col-md-7 col-7">Italian Cuisine</mat-checkbox>
                  <select class="col-lg-5 col-md-5 col-5">
                    <option>Basic</option>
                    <option>Good</option>
                    <option>Expert</option>
                  </select><br>
                </div>
              </section>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div>
    </div>
    <!-- <div class="row mt-5">
      <div class="col-lg-4 col-12 col-md-6 p-1">
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Chartism
              </mat-panel-title>
            </mat-expansion-panel-header>
            <section>
              <div class="row p-1">
                <mat-checkbox class="col-lg-7 col-md-7 col-7">Bensignor TMAP</mat-checkbox>
                <select class="col-lg-5 col-md-5 col-5">
                  <option>Basic</option>
                  <option>Good</option>
                  <option>Expert</option>
                </select><br>
              </div>
              <div class="row p-1">
                <mat-checkbox class="col-lg-7 col-md-7 col-7">De Mark</mat-checkbox>
                <select class="col-lg-5 col-md-5 col-5">
                  <option>Basic</option>
                  <option>Good</option>
                  <option>Expert</option>
                </select><br>
              </div>
              <div class="row p-1">
                <mat-checkbox class="col-lg-7 col-md-7 col-7">Elloitt Mark</mat-checkbox>
                <select class="col-lg-5 col-md-5 col-5">
                  <option>Basic</option>
                  <option>Good</option>
                  <option>Expert</option>
                </select><br>
              </div>
              <div class="row p-1">
                <mat-checkbox class="col-lg-7  col-md-7 col-7">Market Profile</mat-checkbox>
                <select class="col-lg-5 col-md-5 col-5">
                  <option>Basic</option>
                  <option>Good</option>
                  <option>Expert</option>
                </select><br>
              </div>
            </section>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
      <div class="col-lg-4 col-12 col-md-6 p-1">
       <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Country Knowledge
              </mat-panel-title>
            </mat-expansion-panel-header>
            <section>
              <div class="row p-1">
                <mat-checkbox class="col-lg-7 col-md-7 col-7">Algeria</mat-checkbox>
                <select class="col-lg-5 col-md-5 col-5">
                  <option>Basic</option>
                  <option>Good</option>
                  <option>Expert</option>
                </select><br>
              </div>
              <div class="row p-1">
                <mat-checkbox class="col-lg-7 col-md-7 col-7">Australia</mat-checkbox>
                <select class="col-lg-5 col-md-5 col-5">
                  <option>Basic</option>
                  <option>Good</option>
                  <option>Expert</option>
                </select><br>
              </div>
              <div class="row p-1">
                <mat-checkbox class="col-lg-7 col-md-7 col-7">Brazil</mat-checkbox>
                <select class="col-lg-5 col-md-5 col-5">
                  <option>Basic</option>
                  <option>Good</option>
                  <option>Expert</option>
                </select><br>
              </div>
              <div class="row p-1">
                <mat-checkbox class="col-lg-7 col-md-7 col-7">ecuador</mat-checkbox>
                <select class="col-lg-5 col-md-5 col-5">
                  <option>Basic</option>
                  <option>Good</option>
                  <option>Expert</option>
                </select><br>
              </div>
            </section>
          </mat-expansion-panel>
        </mat-accordion> 
      </div>
      <div class="col-lg-4 col-12 col-md-6 p-1">
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Cooking
              </mat-panel-title>
            </mat-expansion-panel-header>
            <section>
              <div class="row p-1">
                <mat-checkbox class="col-lg-7 col-md-7 col-7">Baking</mat-checkbox>
                <select class="col-lg-5 col-md-5 col-5">
                  <option>Basic</option>
                  <option>Good</option>
                  <option>Expert</option>
                </select><br>
              </div>
              <div class="row p-1">
                <mat-checkbox class="col-lg-7 col-md-7 col-7">French Cuisine</mat-checkbox>
                <select class="col-lg-5 col-md-5 col-5">
                  <option>Basic</option>
                  <option>Good</option>
                  <option>Expert</option>
                </select><br>
              </div>
              <div class="row p-1">
                <mat-checkbox class="col-lg-7 col-md-7 col-7">Indian Cuisine</mat-checkbox>
                <select class="col-lg-5 col-md-5 col-5">
                  <option>Basic</option>
                  <option>Good</option>
                  <option>Expert</option>
                </select><br>
              </div>
              <div class="row p-1">
                <mat-checkbox class="col-lg-7 col-md-7 col-7">Italian Cuisine</mat-checkbox>
                <select class="col-lg-3 col-3">
                  <option>Basic</option>
                  <option>Good</option>
                  <option>Expert</option>
                </select><br>
              </div>
            </section>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div> -->
  </div>
  <div class="col-lg-1 col-md-1 col-2 mt-5">
    <div class="bootstrap-demo constant">
      <div class="btn-group-vertical">
        <button type="button" class="btn btn-primary p-3">N</button>
        <button type="button" class="btn btn-primary p-3">O</button>
        <button type="button" class="btn btn-primary p-3">P</button>
        <button type="button" class="btn btn-primary p-3">Q</button>
        <button type="button" class="btn btn-primary p-3">R</button>
        <button type="button" class="btn btn-primary p-3">S</button>
        <button type="button" class="btn btn-primary p-3">T</button>
        <button type="button" class="btn btn-primary p-3">U</button>
        <button type="button" class="btn btn-primary p-3">V</button>
        <button type="button" class="btn btn-primary p-3">W</button>
        <button type="button" class="btn btn-primary p-3">X</button>
        <button type="button" class="btn btn-primary p-3">Y</button>
        <button type="button" class="btn btn-primary p-3">Z</button>
      </div>
    </div>
  </div>
</div>