.example-large-box{
    align-items: center;
    justify-content: center;
    margin: 16px;
    padding: 16px;
    border-radius: 8px;
    height: 300px;
    width: 70vw;
}

@media only screen and (min-width:320px) and (max-width:1000px) {
  .example-full-width {
      width: 100%;
      padding:15px;
    } 
  }

  @media only screen and (min-width:1024px) and (max-width:1950px) {
      .example-full-width  {
          width: 58%;
          padding:10px;
        }
        
      }