.box{
    background-image: url('../../../assets/image/background/2.png');
    background-repeat: no-repeat;
    background-size: cover;
    height:100vh;
    
}
.head{
    margin-top: 20vh;
}

@media (min-width: 300px) and (max-width: 767px){
    .head{
        margin-top:15vh;
    }
}
