.navbar-dark .navbar-nav .nav-link {
    color: #fff;
    
}
.img{
  height: 50px;
}
.size{
    height:10vh;
}
.nav-link{
    font-size: 15px;
}
@media screen and (max-width:1025px){
    .nav-link{
        text-align: center;
    }
}