<nav class="navbar  navbar-expand-lg bg-dark navbar-dark">
  <a class="navbar-brand">
    <img src="assets/icons/logo.png" height="45" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">My profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Search Skill</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Browse Skill</a>
      </li> 
      <li class="nav-item">
        <a class="nav-link" href="#">Skill Members Have</a>
      </li>    
      <li class="nav-item">
        <a class="nav-link" href="#">Skill Members Want</a>
      </li>    
      <li class="nav-item">
        <a class="nav-link" href="#">Post video Files</a>
      </li>   
      <li class="nav-item">
        <a class="nav-link" href="#">Post audio Files</a>
      </li>    
      <li class="nav-item">
        <a class="nav-link" href="#">Classes</a>
      </li>   
      <!-- <li class="nav-item">
        <a class="nav-link" href="#">Logout</a>
      </li>           -->
    </ul>
    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item">
        <a class="nav-link waves-effect waves-light mt-3">
          <i class="fa fa-twitter"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-effect waves-light mt-3">
          <i class="fa fa-facebook-f"></i>
        </a>
      </li>
      
        <li class="nav-item avatar dropdown">
          <a class="nav-link" id="navbarDropdownMenuLink-55" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <div *ngIf="(profile | async)?.photoURL === empty ; else templateName"><img src='https://firebasestorage.googleapis.com/v0/b/skilbound.appspot.com/o/image%2FPenguins.jpg?alt=media&token=ef352de5-5fb4-4787-ae48-54ff97ab35fc'
              class="img-thumbnail img-fluid" ></div>
              <ng-template #templateName>
                <img [src]="(profile | async)?.photoURL" class=" rounded-circle ">
            </ng-template>
            
          </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-default" aria-labelledby="navbarDropdownMenuLink-333">
          <a class="dropdown-item" href="#">Profile</a>
          <a class="dropdown-item" href="#">Message</a>
          <a class="dropdown-item" href="#" click="auth.signOut()">Logout</a>
        </div>
      </li>
    </ul>
  </div>   
</nav>
  
  