<!-- <div class="row">
  <div class="offset-lg-2  col-lg-8 col-md-12 col-xs-12 col-sm-12 mx-auto">
    <div class="card" style="width:12rem">
        <img src="assets/image/icons/logo.png" class="card-img-top my-5">
          <div class="card-body">
            <div class="form-group row">
                <div class="offset-1 col-10">
                    <input type="email" required class="form-control-lg col-12 text-center sharp" placeholder="Email" name="email" required
                        pattern="[^@]*@[^@]*" >
                </div>
            </div>
         
                <div class="form-group row">
                    <div class="offset-1 col-10">
                        <input type="password" required class="form-control-lg col-12 text-center sharp" placeholder="Password" name="password">
                    </div>
                </div>    
          </div> 
          
          
    </div>  
  </div>
</div>      


         -->