<div class="row sidenav">
  <ul class="navbar-nav navbar-sidenav px-3 " #exampleAccordion>
  <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
      <a class="nav-link mt-4" routerLink="/addashboard" >
      <i class="fa  fa-dashboard text-white"></i>
      <span class="nav-link-text text-white">Dashboard</span>
    </a>
  </li>
  <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
     
      <a class="nav-link" routerLink="/aduser" >
        <i class="fa fa-user text-white"></i>
      <span class="nav-link-text text-white">User</span>
    </a>
  </li>
 
  
 
  
  </ul>
</div>

