<div  class="material-half-bg">
    <div class="cover"></div>
  </div>
  <div class="login-content">
    <div class="logo">
      <h1>SkillBound</h1>
    </div>
    <div class="login-box">
      <form class="login-form" action="index.html">
        <h3 class="login-head mb-3 pb-3"><i class="fa fa-lg fa-fw fa-user"></i>SIGN IN</h3>
        <div class="form-group">
          <label class="control-label">Username</label>
          <input class="form-control" type="text" placeholder="Username" autofocus>
        </div>
        <div class="form-group">
          <label class="control-label">Password</label>
          <input class="form-control" type="password" placeholder="Password">
        </div>
        
       
            
            <p class="text-white font float-right"><a routerLink="/forget">Forgot Password ?</a></p>
         
        <div class="form-group btn-container">
          <button class="btn btnsin btn-block"><i class="fa fa-sign-in fa-lg fa-fw"></i>SIGN IN</button>
        </div>
      </form>
     
    </div>
  </div>